<!DOCTYPE html>
<html ng-app="RXchange">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>RXchange (Beta) | Room Exchange platform for IITR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/factories.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ng-animations.css">
  </head>
  <body>
    <header class="head">
      <div class="logo pull-left">
        <h3 class=""><a href="/#/home">RXchange <span class="text-light fs16">| Room Exchange platform for IITR</span> <span class="fs18">(Beta)</span></a></h3>
      </div>
      <div class="pull-right" ng-controller="NavCtrl">
        <ul class="navigation">
          <li ng-if="isLoggedIn()" class="text-capitalize"><a href="/#/home">{{ currentUser().fullname }}</a></li>
          <li ng-if="isLoggedIn()"><a href="#" ng-click="logOut()">Log Out</a></li>
          <li ng-if="!isLoggedIn()"><a href="/#/login">Log In</a></li>
          <li ng-if="!isLoggedIn()"><a href="/#/register">Sign Up</a></li>
        </ul>
      </div>
    </header>
    <h5 class="text-center grey">We are adding more features on the go, hang on!</h5>
    <div class="ui-view-container row">
      <div class="slide-top tpadding30 col-lg-6 col-lg-offset-3" style="padding-top:20px" ui-view></div>
    </div>
    <script type="text/ng-template" id="/home.html">
      <div ng-if="!isLoggedIn()">
        <h3 class="tmargin0 bmargin30">You need to <a href="/#/login">Log In</a> or <a href="/#/register">Sign Up</a> before you can add a room.</h3>
      </div>
      <div ng-if="isLoggedIn()">
        <h3 class="tmargin0 bmargin30">
        <i class="fa fa-plus-circle"></i>&nbsp;Add a new room</h3>
      </div>

      <form ng-submit="addPost()" ng-show="isLoggedIn()" class="row bmargin10" validate>
        <div class="col-lg-5 tmargin5 rpadding0">
          <input type="text" class="form-control" placeholder="Room No" ng-model="room_no" required></input>
        </div>
        <div class="col-lg-5 tmargin5 rpadding0">
          <input type="text" class="form-control" placeholder="Bhawan" ng-model="bhawan" required></input>
        </div>
        <div class="col-lg-5 tmargin5 rpadding0">
          <input type="text" class="form-control" placeholder="Preference (Ex: 3rd floor, A block)" ng-model="preference"></input>
        </div>
        <div class="col-lg-5 tmargin5 rpadding0">
          <input type="text" class="form-control" placeholder="Mobile Number" ng-model="mobile" required></input>
        </div>
        <button type="submit" class="btn btn-primary tmargin5 lmargin10">Add&nbsp;&nbsp;<i class="fa fa-plus-circle"></i></button>
      </form>

      <div ng-repeat="post in posts | orderBy:'pub_date':true" class="room-tile slide-right">
        <div class="room">{{post.room_no}}, {{post.bhawan}}</div>
        <div class="owner">Currently alloted to <span class="text-capitalize">{{post.name}}</span></div>
        <div class="preference">Interested in <span class="text-capitalize">{{post.preference}}</span></div>
        <div class="btn button contact slide-right"
          ng-show="!post.showContacts"
          ng-click="post.showContacts = !post.showContacts">
          Contact&nbsp;<i class="fa fa-paper-plane"></i>
        </div>
        <div class="contact-details slide-right" ng-show="post.showContacts">
          <span class="text-capitalize fs18">{{post.name}}</span><br>
          <span class="grey"><i class="fa fa-envelope"></i>&nbsp;{{post.email}}</span><br>
          <span class="grey"><i class="fa fa-phone"></i>&nbsp;{{post.mobile}}</span>
        </div>
        <span class="interests" ng-click="incrementInterests(post)">
          <i class="fa fa-thumbs-o-up"></i> {{post.interests}}
        </span>
        <span class="comments">
          <a href="#/posts/{{post._id}}"><i class="fa fa-comments-o"></i>&nbsp;Comment ({{post.comments.length}})</a>
        </span>
      </div>
    </script>
    <script type="text/ng-template" id="/posts.html">
      <div class="row">
        <div class="page-header col-lg-6">
          <h3 class="text-capitalize">{{post.room_no}}, {{post.bhawan}}</h3>
          <h5 class="grey text-light">Currently alloted to <span class="text-capitalize">{{post.name}}</span></h5>
          <h5>Interested in <span class="text-capitalize">{{post.preference}}</span></h5>
        </div>
        <div class="page-header col-lg-6 text-right">
          <h3 class="text-capitalize">{{post.name}}</h3>
          <h5 class="grey"><i class="fa fa-envelope"></i>&nbsp;{{post.email}}</h5>
          <h5 class="grey"><i class="fa fa-phone"></i>&nbsp;{{post.mobile}}</h5>
        </div>
      </div>

      <div ng-repeat="comment in post.comments" class="comment slide-top">
        <div class="fs18 bmargin5">
          <span class="grey text-capitalize">{{comment.author}}:&nbsp;</span>{{comment.body}}
        </div>
        <i class="fa fa-thumbs-o-up"></i>&nbsp;{{comment.upvotes}}&nbsp;&nbsp;
        <span class="upvotes" ng-click="incrementUpvotes(comment)">Upvote</span>
      </div>

      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Sign Up</a> before you can comment.</h3>
      </div>

      <form ng-submit="addComment()"
        ng-show="isLoggedIn()"
        class="tmargin20 row">
        <div class="form-group col-lg-8">
          <input type="text"
          class="form-control"
          placeholder="Add a comment"
          ng-model="body"></input>
        </div>
        <button type="submit" class="btn button">Post<i class="fa fa-comments-o"></i></button>
      </form>
    </script>
    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h2>Sign Up</h2>
      </div>

      <div ng-show="error" class="alert alert-danger slide-left">
        <span>{{error.message}}</span>
      </div>

      <form ng-submit="register()" class="form-horizontal" validate>
        <div class="form-group">
          <label class="control-label col-lg-2">Name</label>
          <div class="col-lg-6">
            <input type="text"
              class="form-control"
              placeholder="Your real and full name"
              ng-model="user.fullname"
              required></input>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Username</label>
          <div class="col-lg-6">
            <input type="text"
              class="form-control"
              placeholder="Your special agent name"
              ng-model="user.username"
              required></input>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Email</label>
          <div class="col-lg-6">
            <input type="email"
              class="form-control"
              placeholder="johndoe@email.com"
              ng-model="user.email"
              required></input>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Password</label>
          <div class="col-lg-6">
            <input type="password"
              class="form-control"
              placeholder="Biometric print or retina scan"
              ng-model="user.password"
              required></input>
          </div>
        </div>
        <button type="submit" class="btn btn-lg button tmargin20 pull-left">
          Sign Up&nbsp;<i class="fa" ng-class="{'fa-user-plus': !loading, 'fa-spinner fa-pulse': loading}"></i>
        </button>
      </form>
    </script>
    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h2>Log In</h2>
      </div>

      <div ng-show="error" class="alert alert-danger slide-left">
        <span>{{error.message}}</span>
      </div>

      <form ng-submit="logIn()" class="form-horizontal" validate>
        <div class="form-group">
          <label class="control-label col-lg-2">Username</label>
          <div class="col-lg-6">
            <input type="text"
              class="form-control"
              placeholder="Your special agent name"
              ng-model="user.username"
              required></input>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Password</label>
          <div class="col-lg-6">
            <input type="password"
              class="form-control"
              placeholder="Biometric print or retina scan"
              ng-model="user.password"
              required></input>
          </div>
        </div>
        <button type="submit" class="btn btn-lg button tmargin20">
          Log In&nbsp;<i class="fa" ng-class="{'fa-sign-in': !loading, 'fa-spinner fa-pulse': loading}"></i>
        </button>
      </form>
    </script>
  </body>
</html>
