* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, p {
  color: #333;
}
a, a:link, a:visited {
  color: #e9bf00;
  font-size: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffd700;
}
.grey {
  color: #aaa;
}
.fs18 {
  font-size: 18px;
}
.text-light {
  font-weight: 300;
}
.tpadding30 {
  padding-top: 30px;
}
.bmargin30 {
  margin-bottom: 30px;
}
.tmargin0 {
  margin-top: 0;
}
.ui-view-container {
  position: relative;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

/* ========
 * HEADER
 ======== */
 .head {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #08c;
  padding: 0 140px;
 }
 .head .logo h3 {
  margin: 9px 0 0 0;
  color: #fff;
 }
 .head .logo h3 a {
  color: #fff;
 }
 .head .logo h3 a:hover, .head .logo h3 a:focus {
  text-decoration: none;
 }
 .head ul.navigation {
  list-style-type: none;
  margin: 15px 0 0 0;
 }
 .head ul.navigation li {
  display: inline-block;
  margin: 0 10px;
 }
 .head ul.navigation li a {
  display: block;
  color: #fff;
 }
.head ul.navigation li a:hover {
  text-decoration: underline;
 }

 /* =====
  * POST
  ===== */
.room-tile {
  position: relative;
  padding: 20px;
}
.room-tile:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #eee;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(to right, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 50%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 50%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 50%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 50%, rgba(255,255,255,1) 100%);
}
.room-tile .room {
  font-size: 30px;
  text-transform: capitalize;
}
.room-tile .owner {
  color: #aaa;
  font-size: 15px;
}
.room-tile .preference {
  margin-bottom: 10px;
}
.room-tile .interests {
  font-size: 18px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  color: #08c;
}
.room-tile .interests:hover {
  color: #059;
}
.room-tile .comments a {
  font-size: 16px;
  color: #08c;
}
.room-tile .comments a:hover {
  color: #059;
  text-decoration: none;
}
.room-tile .contact {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #e9bf00;
  color: #fff;
}
.room-tile .contact:hover {
  background-color: #ffd700;
}
.room-tile .contact-details {
  position: absolute;
  top: 20px;
  right: 40px;
  text-align: right;
  font-size: 18px;
}
